@font-face {
    font-family: myFirstFont;
    src: url("font/tanpearl.ttf");
}

:root {
    --bg-color: #10101a;
    --main-color: #655eac;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body {
    font-family: myFirstFont;
    margin: 0;
    width: 100%;
    padding: 0;

}

* {
    font-family: myFirstFont;
}

.land h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 140px;
    font-weight: lighter;
    color: white;
    padding-left: 60px;
}

.land {
    background-image: url(back.png);
    margin: 0;
    height: 725px;
}

h2 {
    color: white;
    margin-left: 1280px;
    bottom: 190px;
}

hr {
    visibility: hidden;
}

.slide {
    background: rgb(250, 249, 255);
    background: radial-gradient(circle, rgba(250, 249, 255, 0) 44%, rgba(226, 151, 254, 0.8578781854538691) 95%);
}

.bt {
    font-family: cursive;
    font-size: 23px;
    padding: 23px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 9px;
    background: #655eac;
    color: var(--text-color);
    box-shadow: 3px 3px 8px #3e3b3b;
}

.center {
    text-align: center;
    margin-top: 150px;
}

.bt:hover {
    background: var(--text-color);
    color: #655eac;
    box-shadow: 4px 4px var(--main-color);
    text-decoration: none;
}




@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Just Another Hand', cursive;
    overflow-X: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    user-select: none;
    background-color: #1c1c1c;
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
}

.container input {
    display: none;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container .slide_img img {
    width: inherit;
    height: inherit;
}

.container .slide_img .prev,
.container .slide_img .next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
}

.container .slide_img .next {
    right: 0;
}

.container .slide_img .prev {
    left: 0;
}

.container .slide_img .prev:hover,
.container .slide_img .next:hover {
    transition: 0.3s;
    background-color: rgba(247, 243, 243, 0.8);
}

.container .slide_img .prev span,
.container .slide_img .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
    right: 35%;
}

.container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
    left: 35%;
}

.container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

.container #nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    cursor: pointer;
}

.container #nav_slide #dot1:hover {
    background: #000000;
}

.container #nav_slide #dot2:hover {
    background: #f44336;
}

.container #nav_slide #dot3:hover {
    background: #2196f3;
}

.container #nav_slide #dot4:hover {
    background: #4caf50;
}

.container #nav_slide #dot5:hover {
    background: #8a6204;
}

.container #nav_slide #dot6:hover {
    background: #10058f;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five,
#i6:checked~#six {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1 {
    background: #795548;
}

#i2:checked~#nav_slide #dot2 {
    background: #f44336;
}

#i3:checked~#nav_slide #dot3 {
    background: #2196f3;
}

#i4:checked~#nav_slide #dot4 {
    background: #d1069e;
}

#i5:checked~#nav_slide #dot5 {
    background: #dbea0e;
}

#i6:checked~#nav_slide #dot6 {
    background: #6e0483;
}

@keyframes scroll {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
.mobileview{
    display: none;
}
.contact {
    background-image: url(back.png);
    margin: 0;
    height: 725px;
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.contact-form form {
    position: relative;
    width: 550px;
}

.contact a {
    padding-right: 20px;
    font-size: 25px;
    color: white;
}

form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #0b0b13;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--2nd-main-color);
}

textarea {
    resize: none;
    height: 200px;
}

form .send-btn {
    background: #655eac;
    color: var(--text-color);
    box-shadow: 6px 6px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    transition: ease all 0.3s;
    cursor: pointer;
    width: 587px;
}

form .send-btn:hover {
    background: var(--text-color);
    color: #655eac;
    box-shadow: 4px 4px var(--main-color);
}

.contact h1 {
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.contact h6 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-decoration: underline;
    margin: 0;
}

footer {
    text-align: right;
}

footer a {
    font-family: monospace;
}

footer a:hover {
    color: #3eff96;
}
@media screen and (max-width: 820px){
    .land h1 {
        font-size: 8rem;
        padding-left: 10px;
        font-weight: 500;
    }
    .land h2 {
        margin-left: 12px;
        font-size: 28px;
    }
}



@media screen and (max-width: 685px) {
    .container {
        display: none;
    }
    .mobileview{
        display: inline;
    }
    .container .slide_img .prev,
    .container .slide_img .next {
        width: 15%;
    }

    .container .slide_img .prev span,
    .container .slide_img .next span {
        border: solid 12px;
    }

    .container .slide_img .prev span {
        border-color: transparent #fff transparent transparent;
    }

    .container .slide_img .next span {
        border-color: transparent transparent transparent #fff;
    }

    .container #nav_slide .dots {
        width: 12px;
        height: 12px;
    }

    .land h1 {
        font-size: 4rem;
        padding-left: 10px;
        font-weight: 500;
    }

    .land h2 {
        margin-left: 12px;
        font-size: 18px;
    }

    .center {
        margin-top: 300px;
    }

    .contact-form {}

    .contact-form form {
        width: 270px;
        padding-right: 40px;
    }

    form .send-btn {
        width: 305px;
    }

    .mobileview-image {
        width:100%;
        height:35%;
    }

    .contact h1 {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 2rem;
    }

    .contact h6 {
        display: none;
    }

    .bt {
        font-size: 18px;
        padding: 15px;
    }

    footer {
        height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    footer a {
        font-size: 0.5rem;
    }
}
