@font-face {
    font-family: myFirstFont;
    src: url("font/tanpearl.ttf");
}

:root {
    --bg-color: #10101a;
    --main-color: #655eac;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body {
    font-family: myFirstFont;
    margin: 0;
    width: 100%;
    padding: 0;

}

* {
    font-family: myFirstFont;
}

.land h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 140px;
    font-weight: lighter;
    color: white;
    padding-left: 60px;
}

.land {
    background-image: url(back.png);
    margin: 0;
    height: 725px;
}

h2 {
    color: white;
    margin-left: 1280px;
    bottom: 190px;
}

hr {
    visibility: hidden;
}

.slide {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4290%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='rgba(96%2c 92%2c 169%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol4297' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4290'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath4295'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath4296'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath4292'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath4293'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath4291'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath4294'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol4297'%3e%3cuse xlink:href='%23SvgjsPath4291' x='30' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='30' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='390' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='30' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='30' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='30' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='30' y='630' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='30' y='690' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='90' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='90' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='90' y='390' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='90' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='90' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='90' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='150' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='150' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='150' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='150' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='150' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='150' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='150' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='150' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='150' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='150' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='150' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='150' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='210' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='210' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='210' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='210' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='210' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='210' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='210' y='390' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='210' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='210' y='510' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='210' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='210' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='210' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='270' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='270' y='90' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='270' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='270' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='270' y='270' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='270' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='270' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='270' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='270' y='510' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='270' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='270' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='270' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='330' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='330' y='90' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='330' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='330' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='330' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='330' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='330' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='330' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='330' y='510' stroke='rgba(5%2c 6%2c 21%2c 0.27)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='330' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='330' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='330' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='90' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='390' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='390' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='390' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='390' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='390' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='390' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='390' y='690' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='450' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='450' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='450' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='450' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='450' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='390' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='510' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='570' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='450' y='630' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='450' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='510' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='510' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='510' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='510' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='510' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='510' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='510' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='510' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='510' y='510' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='510' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='510' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='510' y='690' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='570' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='570' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='570' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='570' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='570' y='270' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='570' y='330' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='570' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='570' y='450' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='570' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='570' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='570' y='630' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='570' y='690' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='630' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='630' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='630' y='150' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='630' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='630' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='630' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='630' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4294' x='630' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='630' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='630' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='630' y='630' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='630' y='690' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='690' y='30' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='690' y='90' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='690' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='690' y='210' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='690' y='270' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4292' x='690' y='330' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='690' y='390' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4293' x='690' y='450' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='690' y='510' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4296' x='690' y='570' stroke='rgba(5%2c 6%2c 21%2c 0.27)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4291' x='690' y='630' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath4295' x='690' y='690' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");  
}

.bt {
    font-family: cursive;
    font-size: 23px;
    padding: 23px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 9px;
    background: #655eac;
    color: var(--text-color);
    box-shadow: 1px 1px 8px #3e3b3b;
}

.center {
    text-align: center;
    margin-top: 150px;
}

.bt:hover {
    background: var(--text-color);
    color: #655eac;
    box-shadow: 4px 4px var(--main-color);
    text-decoration: none;
}




@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Just Another Hand', cursive;
    overflow-X: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 80%;
    padding-bottom: 40%;
    user-select: none;
    background-color: #000000;
}

.container input {
    display: none;
}

.container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container .slide_img img {
    width: inherit;
    height: inherit;
}

.container .slide_img .prev,
.container .slide_img .next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
}

.container .slide_img .next {
    right: 0;
}

.container .slide_img .prev {
    left: 0;
}

.container .slide_img .prev:hover,
.container .slide_img .next:hover {
    transition: 0.3s;
    background-color: rgba(247, 243, 243, 0.8);
}

.container .slide_img .prev span,
.container .slide_img .next span {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.container .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
    right: 35%;
}

.container .slide_img .next span {
    border-color: transparent transparent transparent #fff;
    left: 35%;
}

.container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
}

.container #nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 3px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    cursor: pointer;
}

.container #nav_slide #dot1:hover {
    background: #000000;
}

.container #nav_slide #dot2:hover {
    background: #f44336;
}

.container #nav_slide #dot3:hover {
    background: #2196f3;
}

.container #nav_slide #dot4:hover {
    background: #4caf50;
}

.container #nav_slide #dot5:hover {
    background: #8a6204;
}

.container #nav_slide #dot6:hover {
    background: #10058f;
}

#i1:checked~#one,
#i2:checked~#two,
#i3:checked~#three,
#i4:checked~#four,
#i5:checked~#five,
#i6:checked~#six {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked~#nav_slide #dot1 {
    background: #795548;
}

#i2:checked~#nav_slide #dot2 {
    background: #f44336;
}

#i3:checked~#nav_slide #dot3 {
    background: #2196f3;
}

#i4:checked~#nav_slide #dot4 {
    background: #06d106;
}

#i5:checked~#nav_slide #dot5 {
    background: #dbea0e;
}

#i6:checked~#nav_slide #dot6 {
    background: #6e0483;
}

@keyframes scroll {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
.mobileview{
    display: none;
}
.contact {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1292%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='rgba(96%2c 92%2c 169%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c468 C 106.8%2c443.6 320.4%2c322.8 534%2c346 C 747.6%2c369.2 854.8%2c575.4 1068%2c584 C 1281.2%2c592.6 1493.6%2c428 1600%2c389L1600 900L0 900z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1292'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
    height: 725px;
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.contact-form form {
    position: relative;
    width: 550px;
}

.contact a {
    padding-right: 20px;
    font-size: 25px;
    color: white;
}

form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #0b0b13;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--2nd-main-color);
}

textarea {
    resize: none;
    height: 200px;
}

form .send-btn {
    background: #655eac;
    color: var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    transition: ease all 0.3s;
    cursor: pointer;
    width: 590px;
}

form .send-btn:hover {
    background: var(--text-color);
    color: #655eac;
    box-shadow: 4px 4px var(--main-color);
}

.contact h1 {
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.contact h6 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-decoration: underline;
    margin: 0;
}

footer {
    text-align: right;
}

.contact footer a {
    font-family: monospace;
    font-weight: 900;
    font-size:18px;
    text-decoration:none;
    color:#655eac;
}

footer a:hover {
    color: #d80587;
}
@media screen and (max-width: 820px){
    .land h1 {
        font-size: 8rem;
        padding-left: 10px;
        font-weight: 500;
    }
    .land h2 {
        margin-left: 12px;
        font-size: 28px;
    }
}



@media screen and (max-width: 685px) {
    .container {
        display: none;
    }
    .mobileview{
        display: inline;
    }
    .container .slide_img .prev,
    .container .slide_img .next {
        width: 15%;
    }

    .container .slide_img .prev span,
    .container .slide_img .next span {
        border: solid 12px;
    }

    .container .slide_img .prev span {
        border-color: transparent #fff transparent transparent;
    }

    .container .slide_img .next span {
        border-color: transparent transparent transparent #fff;
    }

    .container #nav_slide .dots {
        width: 12px;
        height: 12px;
    }

    .land h1 {
        font-size: 4rem;
        padding-left: 10px;
        font-weight: 500;
    }

    .land h2 {
        margin-left: 12px;
        font-size: 18px;
    }

    .center {
        margin-top: 300px;
    }

    .contact-form {}

    .contact-form form {
        width: 270px;
        padding-right: 40px;
    }

    form .send-btn {
        width: 305px;
    }

    .mobileview-image {
        width:100%;
        height:40%;
    }

    .contact h1 {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 2rem;
    }

    .contact h6 {
        display: none;
    }

    .bt {
        font-size: 18px;
        padding: 15px;
    }

    footer {
        height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    .contact footer a {
        font-size: 0.3rem;
    }
}
